@charset "utf-8";

.main {
  padding: 30px 15px;
}
.title {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
}
.body {
  font-size: 14px;
  font-family: Microsoft YaHei;
}

//  运算
$baseFontSize:          14px !default;
$baseLineHeight:        1.5 !default;
$baseGap:               $baseFontSize * $baseLineHeight !default;
$halfBaseGap:           $baseGap / 2  !default;
$samllFontSize:         $baseFontSize - 2px  !default;

//grid 
$_columns:                     12 !default;      // Total number of columns
$_column-width:                60px !default;   // Width of a single column
$_gutter:                      20px !default;     // Width of the gutter
$_gridsystem-width:            $_columns * ($_column-width + $_gutter); //grid system width