@charset "utf-8";

.main {
  padding: 30px 15px;
}
.title {
  font-weight: bold;
  font-size: 28px;
  height: 38px;
  line-height: 38px;
}
.body {
  font-size: 14px;
  font-family: Microsoft YaHei;
}
h1-border{
  border: 4px solid #ff9aa9;
}
.speaker{
  @extend h1-border;
  border-width: 2px;
}

//  占位选择器%
%ir{
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
%clearfix{
  &:before,
  &:after {
    content: "";
    display: table;
    font: 0/0 a;
  }
  &:after {
    clear: both;
  }
}
#header{
  h1{
    @extend %ir;
    width:300px;
  }
}
.ir{
  @extend %ir;
}